/**/
body{
  background-image: url(../imagens/p.png);
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn1{
  margin-left: 5px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.btn2{
  margin-left: 15px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

